@import 'src/styles/variables.css';
@import "src/styles/colors.css";

.container {
  display: flex;
}

.flex {
  display: flex;
  align-items: center;
}

.avatarLeft {
  flex-direction: row-reverse;
}

.avatarLeft .name {
  flex-grow: 1;
  margin: 0 min(1vw, 10px) 0 0;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 82px;
  max-height: 82px;
  width: 6vw;
  height: 6vw;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--white);
  font-size: 34px;
}

.avatar img {
  width: 100%;
}

.name {
  font-size: min(1.8vw, 30px);
  font-family: var(--font-family), var(--font-family-ru);
  color: var(--white);
  margin: 0 0 0 min(1vw, 10px);
  width: min(14vw, 200px);
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.nameCharacter {
  color: var(--light-blue);
  margin: 0;
  user-select: none;
}

@media screen and (max-width: 800px) {
  .avatar {
    width: 42px;
    height: 42px;
  }
  .name {
    display: none;
  }
}