@import 'src/styles/colors.css';

.finder__background {
    font-family: var(--font-family), var(--font-family-ru);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--blue);
    border-radius: 38px;
    padding: 20px;
}

.finder__block {
    height: 50vh;
    width: min(60vw, 450px);
    overflow-y: scroll;
    font-family: var(--font-family), var(--font-family-ru);
    border-radius: 38px;
    padding: 10px 20px;
    background: #1653A9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 25px;
    margin-bottom: 10px;

    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 10px;
        background-color: var(--blue);
        ;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: var(--dark-blue);
    }
}

.finder__header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
}

.finder__label {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: var(--white);
    padding: 20px;
}

.finder__label-tag {
    margin: 0 auto;
    font-size: min(20px, 2vw);
}

.finder__label-description {
    margin: 0 auto;
    font-size: min(30px, 4vw);
}

.finder__buttons {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 800px) {
    .finder__buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}