.ships__container {
    position: relative;
    margin: 0 auto;
    background: var(--light-dark-blue);
    display: inline-block;
    padding: 10px;
    border-radius: 16px;
    display: flex;
    align-items: center;
}

.ships__container img {
    position: absolute;
    transform-origin: left top;
}

@media screen and (max-width: var(--MAX-WIDTH-TABLET)) {
    .ships__container {
        height: 32vw;
    }
}

@media screen and (max-width: var(--MAX-WIDTH-PHONE)) {
    
}