.container {
    position: relative;
    height: 100%;
    margin: 0 auto;
    background: var(--light-dark-blue);
    display: inline-block;
    padding: 10px;
    border-radius: 16px;
    display: flex;
    align-items: center;
}

.container img {
    position: absolute;
    transform-origin: left top;
}

@media screen and (max-width: var(--MAX-WIDTH-TABLET)) {

}

@media screen and (max-width: var(--MAX-WIDTH-PHONE)) {
    .container {
        height: 32vw;
    }
}