.game__background {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    max-width: 1092px;
    height: 98%;
    background: var(--blue);
    border-radius: 38px;
    padding: 43px 75px 60px 75px;
}

.game__battlefields {
    background: var(--light-dark-blue);
    display: flex;
    justify-content: space-between;
    border-radius: 16px;
    padding: 13px;
    margin-bottom: 20px;
}

.game__docs {
    background: var(--light-dark-blue);
    display: inline-block;
    padding: 10px;
    border-radius: 16px;
}

.game__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.game__footer-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;
    margin-top: 10px;
}

.game__footer {
    display: flex;
    justify-content: space-between;
}

.game__header-text {
    font-size: 34px;
    margin: 0;
}

.game__footer-ships-btn {
    display: none;
}

@media screen and (max-width: 1151px) {
    .game__battlefield-bot {
        display: none;
    }
    .game__battlefields {
        margin-top: 20px;
        justify-content: center;
    }
    .game__footer-buttons_controls {
        display: flex;
        flex-direction: column;
    }
    // .game__footer {
    //     margin: 30px 0;
    // }
}
@media screen and (max-width: 866px) {
    // .game__docs {
    //     display: none;
    // }
    .game__footer-ships-btn {
        display: block;
    }
    .game__footer-buttons_controls {
        display: flex;
        flex-direction: row;
    }
    .game__footer {
        justify-content: center;
    }
    .game__footer-buttons {
        margin: 0;
    }
}
@media screen and (max-width: 730px) {
    .game__background {
        padding-bottom: 20px;
    }
    .game__header-text {
        font-size: 24px;
    }
}

@media screen and (max-width: 479px) {
    .game__docs {
        width: 84vw;
        flex-grow: 4;
    }
    .wrapper {
        display: flex;
    }
    // canvas {
    //     width: 80vw;
    // }
    .game__battlefield-player {
        background: var(--light-dark-blue);
        border-radius: 16px;
        padding: 13px;
        margin-bottom: 20px;
    }
    .game__battlefield-opponent {
        display: none;
        // background: var(--light-dark-blue);
        // justify-content: center;
        // border-radius: 16px;
        // padding: 13px;
        // margin-bottom: 20px;
    }
    .test {
        background: var(--dark-blue);
        // width: 100px;
        display: none;
        flex-grow: 2;
    }
    .disabled {
        display: none;
    }
    .active {
        display: flex;
    }
    // .small canvas {
    //     width: 40vw;
    // }
    .small2 {
        width: 46vw;
    }
    .game__background {
        padding: 10px;
    }
    .game__header-text {
        font-size: 20px;
    }

    .container {
        width: 84vw;
        height: 84vw;
        overflow: hidden;
        background: var(--light-dark-blue);
        justify-content: center;
        border-radius: 16px;
        padding: 2vw;
        margin-bottom: 10px;
    }
    .slider {
        display: flex;
        justify-content: space-between;
        width: calc(82vw*2);
        transition: .3s;
    }
    .red {
        width: 80vw;
        height: 80vw;
        background: red;
    }
    .yellow {
        width: 50vw;
        height: 50vw;
        background: yellow;
        margin-left: 4vw;
    }
    .left {
        transform: translateX(-84vw);
    }
    .right {
        transform: translateX(0);
    }
    .game__statistics {
        width: 80vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: space-between;
        padding-bottom: 3vw;
    }
    .game__statistics-label {
        font-family: var(--font-family-second);
        font-size: 4vw;
        margin-top: 3vw;
        margin-bottom: 0;
    }
    .game__statistics-description {
        font-size: 7vw;
    }
    .game__footer-buttons_controls {
        background: var(--light-dark-blue);
        border-radius: 14px;
        width: 84vw;
        display: flex;
        justify-content: space-between;
        margin: 0;
    }
}
