.auth__main {
    font-family: var(--font-family), var(--font-family-ru);
    border-radius: 38px;
    padding: 40px 30px;
    background: #1E61BE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.auth__header {
    font-size: 30px;
}

.auth__link {
    font-family: var(--font-family-second);
    color: #ffffff;
    font-size: 20px;
}

.auth__logo {
    color: #ffffff;
    font-size: 20px;
}