.closeGame__buttons {
    width: 370px;
    display: flex;
    justify-content: space-between;
}

.closeGame__text {
    font-size: 41px;
    width: 426px;
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
}