.closeGame__buttons {
    display: flex;
    justify-content: space-between;
}

.closeGame__text {
    font-size: 38px;
    width: 426px;
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .closeGame__text {
        width: 60vw;
        font-size: 4vw;
    }
}