@import 'src/styles/colors.css';
@import 'src/styles/variables.css';

.topic {
    padding: 20px 30px;
    background: var(--dark-blue);
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    color: var(--white);
}
.topic__description {
    font-family: var(--font-family-second);
    font-size: 20px;
    margin: 0;
    text-align: justify;
}
.topic__header {
    display: flex;
    justify-content: space-between;
    align-items: top;
    height: 50px;
}
.topic__header-author {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.topic__header-author-name {
    font-family: var(--font-family), var(--font-family-ru);
    font-size: 22px;
    margin: 0;
}
.topic__header-author-date {
    font-family: var(--font-family-second);
    font-size: 16px;
    margin: 0;
}
.topic__header-theme {
    font-family: var(--font-family), var(--font-family-ru);
    font-size: 30px;
    margin: 0;
    display: inline-block;
}
.topic__controls {
    margin-left: 10px;
    display: inline-block;
    cursor: pointer;
}
