@import 'src/styles/colors.css';
@import 'src/styles/variables.css';

.toast__main {
    position: absolute;
    top: 30px;
    left: calc(98vw - 400px);
    color: var(--white);
    box-sizing: border-box;
    z-index: 99;
}

.toast__block {
    font-size: 25px;
    width: 400px;
    background: var(--dark-blue);
    border: 3px solid var(--dark-yellow);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
   
}

.toast__block-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.toast__button {
    width: 100px;
    height: 50px;
    font-size: 16px;
}