:root {
  --blue: #1e61be;
  --light-dark-blue: #1653a9;
  --dark-blue: #09469a;
  --white: #fff;
  --light-yellow: #fdde4f;
  --dark-yellow: #febc29;
  --light-red: #f7b1a2;
  --light-green: #c8fc77;
  --light-blue: #66b2f9;
  --light-gray: #ccc;
  --gray: #666;
  --bg-dark-gray: hsl(0deg 0% 0% / 66.4%);
}
