.profile__main {
    border-radius: 38px;
    padding: 20px 30px;
    background: #1E61BE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile__block-up {
    width: 350px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.profile__block-center {
    font-family: var(--font-family), var(--font-family-ru);
    position: relative;
    border-radius: 38px;
    margin: 10px;
    padding: 80px 10px 20px 10px;
    background: #1653A9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: min(25px, 6vw);
}

.profile__block-down {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile__avatar {
    position: absolute;
    top: -100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #ffffff;
    color: #9DC0F0;
    width: min(180px, 38vw);
    height: min(180px, 38vw);
    font-size: 55px;
}

@media screen and (max-width: 480px) {
    .profile__main {
        width: 90%;
        height: 90%;
    }
    .profile__block-up {
        width: 100%;
    }
    .profile__block-center {
        padding-top: 15vw;
    }
}