.profile__main {
    border-radius: 38px;
    padding: 40px 30px;
    background: #1E61BE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile__block-up {
    width: 350px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.profile__block-center {
    font-family: var(--font-family), var(--font-family-ru);
    position: relative;
    width: 100%;
    border-radius: 38px;
    margin: 10px;
    padding: 100px 10px 20px 10px;
    background: #1653A9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.profile__block-down {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile__avatar {
    position: absolute;
    top: -100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #ffffff;
    color: #9DC0F0;
    width: 180px;
    height: 180px;
    font-size: 55px;
}