.profile__main {
    border-radius: 38px;
    padding: 40px 30px;
    background: #1E61BE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile__block {
    border-radius: 38px;
    margin: 10px;
    padding: 10px 20px;
    background: #1653A9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}