@import 'src/styles/colors.css';
@import 'src/styles/variables.css';

.forum__background {
    font-family: var(--font-family), var(--font-family-ru);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    max-width: 1092px;
    max-height: 849px;
    height: 90%;
    background: var(--blue);
    border-radius: 38px;
}

.forum__footer {
    margin: 0 min(4vw, 70px) min(5vw, 50px) min(4vw, 70px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--dark-blue);
    border-radius: 15px;
    padding: min(1vw, 10px);
}

.forum__main {
    display: flex;
    justify-content: center;
}

.forum__header {
    margin: min(5vw, 50px) min(4vw, 70px) 0px min(4vw, 70px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.forum__header-left {
    display: flex;
    flex-direction: row;
}

.forum__label {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: var(--white);
    margin-right: 5vw;
}

.forum__label-tag {
    margin: 0 auto;
    font-size: min(20px, 2vw);
}

.forum__label-description {
    margin: 0 auto;
    font-size: min(30px, 4vw);
}

.forum__main-field {
    width: 100%;
    max-height: 550px;
    height: 51vh;
    margin: 10px min(4vw, 70px);
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 10px;
        background-color: var(--blue);
        ;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: var(--dark-blue);
    }
}

@media screen and (max-width: 800px) {
    .forum__label {
        margin-right: 14vw;
    }
}