@import 'src/styles/colors.css';
@import 'src/styles/variables.css';

.forum__background {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1092px;
    height: 849px;
    background: var(--blue);
    border-radius: 38px;
}
.forum__footer {
    margin: 0px 50px 36px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.forum__input {
    margin: 0 !important; 
    width: 820px !important;
    height: 57px !important;
    background: var(--dark-blue) !important;
    border-radius: 15px !important;
    border-style: none !important;
    padding-left: 20px !important;
    font-family: var(--font-family-second) !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 20px !important;
    line-height: 23px !important;
    color: var(--white) !important;
}
.forum__btn {
    height: 56px;
    font-size: 36px;
    border: 6px solid var(--light-yellow);
    border-bottom: none;
    border-left: none;
    border-right: none;
    margin: 10px 0;
    padding: 0 15px 0 15px;
}
.forum__main {
    display: flex;
    justify-content: center;
}

.forum__header {
    margin: 36px 50px 0px 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.forum__label {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: var(--white);
    margin-right: 367px;
}
.forum__label-tag {
    margin: 0 auto;
    font-size: 20px;
}
.forum__label-description {
    margin: 0 auto;
    font-size: 40px;
    line-height: 40px;
}

.forum__main-field {
    width: 100%;
    height: 550px;
    overflow-y: scroll;
    margin: 0 50px;
    &::-webkit-scrollbar {
        width: 10px;
        background-color: var(--blue);;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: var(--dark-blue);
    }
}