@import '../../styles/colors.css';

.test1 {
    font-size: min(4vw, 4rem);
    pointer-events: none;
}

.leader__background {
    font-family: var(--font-family), var(--font-family-ru);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    max-width: 1092px;
    height: 90%;
    max-height: 849px;
    background: var(--blue);
    border-radius: 38px;
    align-items: center;
}

.leader__footer {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    justify-content: space-evenly;
    align-items: center;
    height: 90px;
    padding: 10px;
    width: 100%;
    border-radius: 0px 0px 38px 38px;
    background: var(--dark-blue);
}

.leader__table {
    width: 100%;
    height: 100%;
    padding: 30px;
    font-size: 30px;
}

.leader__table-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 90px;
    border-radius: 38px 38px 0px 0px;
    background: var(--dark-blue);
    margin-bottom: 5px;
    padding: 0 20px;
}

.leader__table-field {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 90px;
    background: var(--light-dark-blue);
    margin-bottom: 5px;
    padding: 0 20px;
}

.leader__header {
    width: 90%;
    margin-top: 36px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.leader__label {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: var(--white);
}

.leader__label-tag {
    margin: 0 auto;
    font-size: min(20px, 3vw);
}

.leader__label-description {
    margin: 0 auto;
    font-size: min(40px, 5vw);
    line-height: 40px;
}

.leader__table-column-wide {
    font-family: var(--font-family), var(--font-family-ru);
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow: hidden;
}

.leader__table-column-standart {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.leader__table-block {
    height: min(475px, 43vh);
    display: flex;  
    flex-direction: column;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        width: 10px;
        background-color: var(--blue);
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: var(--dark-blue);
    }
}

.leader__table-block-empty {
    flex-grow: 1;
    background: var(--light-dark-blue);
    margin-bottom: 5px;
}

.leader__table-selected {
    color: var(--dark-yellow)
}
.leader__table-column_text {
    margin: 0;
    pointer-events: none;
}
.leader__table-column_short {
    display: none;
    pointer-events: none;
}

@media screen and (max-width: 800px) {
    .leader__table-header {
        font-size: 3vw;
        padding-top: 5px;
    }
    .leader__table-column_text {
        display: none;
        pointer-events: none;
    }
    .leader__table-column_short {
        display: block;
        pointer-events: none;
    }
    .leader__label {
        margin: 0;
    }
    .leader__footer {
        font-size: 4vw;
    }
    .leader__table-field {
        font-size: 4vw;
        height: min(12vw, 90px);
    }
}

@media screen and (max-width: 479px) {
    .leader__table-column-standart {
        flex-direction: column-reverse;
    }
    .leader__background {
        height: 460px;
    }
    .leader__table-block {
        height: 215px;
    }
    .leader__table {
        padding: 5px 30px;
    }
    .leader__footer {
        height: 46px;
    }
    .leader__header {
        margin-top: 20px;
    }
}