.inputMessage__input {
    display: flex;
    height: 70%;
    width: 60%;
    padding: 10px;
    margin: 0;
    flex-grow: 2;
}

.inputMessage__block{
    display: flex;
    width: 90%;
    height: 57px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    flex-grow: 2;
}
