@import 'src/styles/colors.css';
@import 'src/styles/variables.css';

.modal__background {
    position: absolute;
    z-index: 20;
    height: 100vh;
    width: 100vw;
    background: var(--bg-dark-gray);
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
}
.modal__plate {
    background: var(--blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    border-radius: 38px;
    align-items: center;
    padding: 45px;
}
.modal__plate-no-bg {
    background: none;
}

@media screen and (max-width: 479px) {
    .modal__plate {
        width: 90%;
        height: 90%;
    }
}