@import 'src/styles/colors.css';
@import 'src/styles/variables.css';

.comment {
    padding: min(2vw, 20px) min(3vw, 30px);
    background: var(--dark-blue);
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 80px;
    border-radius: 15px;
    color: var(--white);
}
.comment__btn {
    font-family: var(--font-family-second);
    font-size: 20px;
    background: var(--blue);
    border-radius: 8px;
    border-style: none;
    width: 135px;
    height: 31px;
    padding: 0;
    text-transform: lowercase;
    margin: 10px 0 0 0;
}
.comment__header {
    display: flex;
    justify-content: space-between;
    align-items: top;
    // min-height: 50px;
}
.comment__author {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.comment__author-name {
    font-family: var(--font-family), var(--font-family-ru);
    font-size: 22px;
    margin: 0;
}
.comment__author-date {
    font-family: var(--font-family-second);
    font-size: 16px;
    margin: 0;
}
.comment__description {
    font-family: var(--font-family-second);
    font-size: 20px;
    margin: 0;
    margin-right: 10px;
    text-align: justify;
}

@media screen and (max-width: 800px) {
    .comment__author-name {
        font-size: 3vw;
    }
    .comment__description {
        font-size: 2vw;
    }
    .comment__author-date {
        font-size: 2vw;
    }
}