.cell__line {
    width: 100%;
    margin-top: 10px;
    font-size: min(30px, 2.5vw);
    border-radius: 20px;
    background: var(--dark-blue);
    padding: min(1.5vw, 15px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cell__name {
    padding: 10px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.cell__point {
    padding: min(10px, 1vw);
    border-radius: 50%;
}

@media screen and (max-width: 800px) {

}

@media screen and (max-width: 479px) {

}
