@import 'src/styles/colors.css';
@import 'src/styles/variables.css';

.delete-topic__label {
    color: var(--white);
    font-size: 41px;
    margin: 0;
}
.delete-topic__buttons {
    width: 370px;
    display: flex;
    justify-content: space-between;
}
.delete-topic__description {
    font-family: var(--font-family-second);
    color: var(--white);
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    width: 368px;
}