@import 'src/styles/colors.css';

.home__main {
    position: relative;
    left: 12%;
    width: 70%;
    height: 90%;
    border-radius: 38px;
    background: var(--blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 15px;
}

.home__buttons {
    padding: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: wrap-reverse;
    box-sizing: border-box;
}

.home__buttons-block-left {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
}

.home__buttons-block-right {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
}

.home__header {
    font-size: 9vw;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1;
}

.home__menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.home__select {
    top: 1vw;
    height: 33vh;
    margin: 20px;
    max-height: 800px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.home__select-toggle-logotype {
    font-size: 30px;
    color: #ffffff
}

.home__select-type-logotype {
    font-size: 50px;
    color: #ffffff;
    margin: 20px;
    opacity: 0.5;

    &.selected {
        opacity: 1;
        font-size: 60px;
    }
}

.home__image-left {
    z-index: 2;
    position: absolute;
    top: 12%;
    left: -27vw;
    height: 35vw;
    max-height: 800px;
}

.home__image-right {
    position: relative;
    margin-left: 5%;
    height: 30vw;
    max-height: 500px;
}

@media screen and (max-width: 1700px) {
    .home__image-left {
        visibility: hidden;
        display: none;
    }

    .home__buttons {
        justify-content: center;
        align-items: center;
    }

    .home__main {
        left: 0;
        width: 90%;
    }
}

@media screen and (max-width: 950px) {
    .home__image-right {
        visibility: hidden;
        display: none;
    }

    .home__buttons {
        padding: 0;
    }

    .home__select-toggle-logotype {
        font-size: 20px;
    }

    .home__select-type-logotype {
        font-size: 25px;

        &.selected {
            font-size: 30px;
        }
    }
}

@media screen and (max-width: 450px) {
    .home__buttons-block-right {
        flex-wrap: wrap;
    }

    .home__select {
        margin: 10px;
        height: auto;
    }
}
