@import 'src/styles/colors.css';

.home__main {
    position: relative;
    left: 15vw;
    width: 60vw;
    height: 85vh;
    border-radius: 38px;
    background: var(--blue);
    display: flex;
    flex-direction: column;
    padding: 1vh;
}

.home__buttons {
    padding: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.home__buttons-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: space-between;
}

.home__button-span {
    font-size: 3vh;
}

.home__header {
    font-size: 15vh;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1;
}

.home__menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.home__select {
    margin-left: 10vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
}

.home__select-toggle-logotype {
    font-size: 3vh;
    color: #ffffff
}

.home__select-type-logotype {
    font-size: 4vh;
    color: #ffffff;
    margin: 20px;
    opacity: 0.5;

    &.selected {
        opacity: 1;
        font-size: 5vh;
    }
}

.home__image-left {
    z-index: 2;
    position: absolute;
    top: calc(50vh - 400px);
    left: -33vw;
    width: 75vh;
    height: 75vh;
}

.home__image-right {
    margin-left: 5vw;
    height: 45vh;
}
