.update-avatar__block-close {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
    padding: 0;
    margin: 0;
}

.update-avatar__main {
    font-family: var(--font-family), var(--font-family-ru);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.update-avatar__title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 40px;
    margin: 0px 10px
}

.update-avatar__block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 341px;
    height: 341px;
    background: var(--light-dark-blue);
    border-radius: 38px;
    margin: 10px;
}

.update-avatar__select-custom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--light-dark-blue);
    font-family: var(--font-family-second);
    font-size: 20px;
    width: 178px;
    height: 178px;
    background: var(--white);
    border: 5px solid var(--white);
    border-radius: 50%;
}

.update-avatar__select-default {
    width: 130px;
    height: 130px;
    background: var(--white);
    border: 5px solid var(--white);
    border-radius: 50%;
    margin: 15px;
}

@media screen and (max-width: 900px) {
    .update-avatar__main {
        flex-direction: column;
    }
    .update-avatar__select-default {
        width: 100px;
        height: 100px;
    }
    .update-avatar__block {
        height: 100%;
        width: 60vw;
        flex-wrap: nowrap;
        overflow: auto;
        justify-content: inherit;
        &::-webkit-scrollbar {
            display: none;
        }
    }
    .update-avatar__title {
        font-size: 4vw;
    }
    .update-avatar__block-custom {
        justify-content: center;
    }
}